body,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;

  font-size: 24px;
  padding: 0 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  a {
    color: inherit;
  }
}

/* CARDS */
.search {
  padding: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 250px;
  padding: 10px;
  margin: 10px 15px;

  border: 1px solid white;
}
.res-card:hover {
  border-color: black;
  cursor: pointer;
}
.res-logo {
  width: 100%;
  height: 200px;
}

/* Filter */
.filter {
  display: flex;
  margin-left: 10px;
}
.filter .filter-btn {
  cursor: pointer;
  margin: 10px;
}
.search .search-btn {
  margin-left: 5px;
}

/* Shimmer UI */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  height: 400px;
  width: 200px;
  margin: 20px;
  background-color: #f0f0f0;
}

/* login btn */
.login-btn {
  padding: 0 20px;
  cursor: pointer;
}

/* Restaurant Menu */
.restaurant-menu-container {
  padding: 20px;
}
.restaurant-menu-container .menu {
  margin: 15px 0;

  ul {
    list-style-type: none;
    li {
      font-size: 22px;
      margin: 10px 0;
    }
  }
}

/*  user styles */
.user-card {
  padding: 10px;
  border: 1px solid black;
}
